.bloc-titres-partenaires {
    margin: 30px 5px;
}

.presentation a {
    color: #1e96fc;
    transition: color 0.3s;
    text-decoration: none;
}

.presentation a:hover {
    color: #ecebf3;
}

.partenaires-container a {
    color: #ecebf3;
    transition: color 0.3s;
    text-decoration: none;
}

.partenaires-container a:hover {
    color: #1e96fc;
}

.cardfoot {
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.partenaires .container img {
    filter: drop-shadow(0px 0px 5px rgba(236, 234, 243, 0.5));
}

.partenaires .partenaires-container {
    display: flex;	
    justify-content: center;
}

.partenaires .card-container {
    display: flex;	
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    max-width: 1000px;
  }

.partenaires .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ECEBF3;
    overflow: hidden;
    margin: 10px;
    width: 220px;
    height: 320px;
    box-shadow: 0px 0px 10px rgba(236, 234, 243, 0.5);
    border-radius: 15px;
}

.partenaires .card-container .cardArgent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(192, 192, 192, 0.5);
    overflow: hidden;
    background-color: rgba(192, 192, 192, 0.03);
    margin: 10px;
    width: 220px;
    height: 320px;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.8);
    border-radius: 15px;
}

.partenaires .card-container .cardOr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(255, 215, 0, 0.5);
    overflow: hidden;
    background-color: rgba(255, 215, 0, 0.03);
    margin: 10px;
    width: 220px;
    height: 320px;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8);
    border-radius: 15px;
}

.partenaires .card-container .card h4 {
    text-align: center;
    color: #ecebf3;
    font-size: 1.1em;
}

.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 120px;
}

.card_img img {
    max-width: 200px;
    max-height: 120px;
    object-fit: cover;
    /* object-position: center; */
}

.card_imgBlanc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 120px;
    background-color: white;
}

.card_imgBlanc img {
    max-width: 200px;
    max-height: 120px;
    object-fit: cover;
    /* object-position: center; */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding: 12px 5px;
}

.card-content p {
    color: #ecebf3;
    text-align: center;
    font-size: 0.9em;
    margin: 5px 3PX;
}

.card-content strong {
    font-weight: bolder;
}

/* .partenaires .card-container .card img {
    width: 100%; l'image est complète et centrée  
    height: auto;
    max-height: 120px;
    object-fit: cover;
    object-position: center;
} */
