a {
    
    color: #ecebf3;
    transition: color 0.3s;
}

a:hover {
    color: #1e96fc;
    text-decoration: none;
}

.partenaires .container img {
    filter: drop-shadow(0px 0px 5px rgba(236, 234, 243, 0.5));
}

.partenaires .partenaires-container {
    display: flex;	
    justify-content: center;
}

.partenaires .card-container {
    display: flex;	
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    max-width: 1000px;
  }

.partenaires .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ECEBF3;
    overflow: hidden;
    margin: 10px;
    width: 220px;
    height: 340px;
    box-shadow: 0px 0px 15px rgba(236, 234, 243, 0.5);
    border-radius: 15px;
}

.partenaires .card-container .card h4 {
    text-align: center;
    color: #ecebf3;
    font-size: 1.1em;
    margin: 3px 0 3px 0;
}

.card-content p {
    color: #ecebf3;
    text-align: center;
    font-size: 0.9em;
    margin: 5px 3PX;
}

.card-content strong {
    font-weight: bolder;
}

.partenaires .card-container .card img {
    /* width: 100%; l'image est complète et centrée */  
    height: auto;
    max-height: 120px;
    object-fit: cover;
    object-position: center;
}
