* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0c120c;
    overflow-x: hidden;

}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #ecebf3;
    text-shadow: 0px 0px 10px #ecebf3;
    text-align: center;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    text-align: center;
}

h5 {
    font-family: "Roboto", sans-serif;
    color: #ecebf3;
    font-size: 1.1em;
    text-align: center;
}

p, a {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

                                        /* MENU DE NAVIGATION */

.menumobile {
    display: none;
    justify-content: center;
}

.menumobileformat {
    display: flex;
    justify-content: center;
}

.menumobile .menumobileformat a {
    text-decoration: none;
    color: #ecebf3;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: 25px;
}

.menumobile .menumobileformat a:hover {
    text-shadow: 0px 0px 15px #ecebf3;
}

.menunav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
}

.menunav .logogroupe {
    width: 100px;
    height: 100px;
}

.menunav .navlogo {
    width: 25px;
    height: 25px;
}

.menunav a {
    text-decoration: none;
    color: #ecebf3;
    font-size: 1.1em;
    text-transform: uppercase;
}

.menunav a:hover {
    text-shadow: 0px 0px 15px #ecebf3;
}

.menunav .menunav-ticket:hover {
    color: #c20114;
    text-shadow: 0px 0px 15px #c20114;
}

@media only screen and (max-width: 768px) {
    .menunav {
        display: none;
    }

    .menumobile {
        display: contents;
    }

    .titrespectacle img {
        width: 80%;
    }

    .actu .container .left img {
        width: 350px;
    }
}

@media (max-width: 768px) {
    h3 {
        font-size: 1.5em;
    }
}
                                        /* -- SECTION ACTU -- */

.actu {
    background-image: url(images/rideau-noir2.jpg);
    /* z-index: 99; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}

.annonce-spectacle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

   /* Best off' présente ;-) */
.annonce-spectacle p {
    font-size: 1em;
    color: #ecebf3;
    text-shadow: 0px 0px 10px #ecebf3;
}

.titrespectacle {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.titrespectacle img {
    max-width: 450px;
    filter: drop-shadow(0px 0px 30px rgba(236, 235, 243, 0.8));
}

.actu .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

/* .actu .container > * {
    padding: 0 30px;
} */

.actu .container .left {
    display: flex;
    justify-content: center;
    width: 440px;
    height: auto;
}

.actu .container .right {
    width: 440px;
    height: auto;
    padding: 20px;
}

.actu .container .left img {
    max-width: 440px;
    height: auto;
    filter: drop-shadow(0px 0px 30px rgba(236, 235, 243, 0.5));
}

.actu .container .right h2 {
    text-align: left;
}

.actu .container .right p {
    color: #c7D6D5;
    margin-top: 30px;
    text-align: left;
    max-width: 400px;
    line-height: 1.5;
    font-size: 1.08em;
}

.actu .container .right .logos-partenaires {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.actu .container .right .logos-partenaires img {
    max-width: 100%;
    height: auto;
}

/* LOGO ED DANSE */
.actu .container .right .logos-partenaires .logos-partenaires-left {
    width: 40%;
    max-width: 40%;
    height: auto;
    margin-bottom: 30px;
}

/* LOGO SEMONS L'ESPOIR */
.actu .container .right .logos-partenaires .logos-partenaires-right {
    width: 50%;
    max-width: 50%;
    height: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0px 0px 30px rgba(236, 235, 243, 0.8));
}


                                /* CSS DES BOUTONS */
.cta-container {
    display: flex;
    justify-content: center;
}

.cta {
    background-color: #c20114;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    animation: shadow 3s infinite ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ecebf3;
    font-size: 1.2em;
}

.ctaPartenaires {
    background-color: #c7D6D5;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    animation: shadowGold 3s infinite ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #495057;

}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 10px 2px #c20114
    }
    50% {
        box-shadow: 0px 0px 15px 7px #c20114
    }
    100% {
        box-shadow: 0px 0px 10px 2px #c20114
    }
}

@keyframes shadowGold {
    0% {
        box-shadow: 0px 0px 10px 2px #c7D6D5
    }
    50% {
        box-shadow: 0px 0px 15px 7px #c7D6D5
    }
    100% {
        box-shadow: 0px 0px 10px 2px #c7D6D5
    }
}

.cta-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

em {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 10px #ecebf3;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;  
}

.container-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.logoBestOff {
    display: flex;
    justify-content: center;
}

.logoBestOff img {
    width: 250px;
    margin-top: 50px;
}



                                        /* -- SECTION A PROPOS -- */


.a-propos {
    background-color: #0c120c;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation p {
    color: #c7D6D5;
    text-align: center;
    margin: 25px 10px;
    max-width: 450px;
    line-height: 1.5;
    font-size: 1.02em;
}

.presentation a {
    color: #ecebf3;
    transition: color 0.3s;
    text-decoration: none;
}

.presentation a:hover {
    color: #ecebf3;
}

.a-propos .container img {
    filter: drop-shadow(0px 0px 5px rgba(236, 234, 243, 0.5));
}

.a-propos .card-container {
    display: flex;	
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
.a-propos .card-container .card {
    border: 2px solid #ECEBF3;
    overflow: hidden;
    margin: 15px;
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 15px rgba(236, 234, 243, 0.5);
    border-radius: 15px;
}

.a-propos .card-container .card h4 {
    text-align: center;
    color: #ecebf3;
    font-size: 1.3em;
    margin: 20px 0;
}

.card-content p {
    color: #ecebf3;
    text-align: center;
    margin: 5px 15px;
    line-height: 1.4;
}

.card-content strong {
    font-weight: bolder;
}

.a-propos .card-container .card img {
    width: 100%;
    height: auto;
}

.a-propos img {
    max-width: 100%;
    height: auto;
}

.grande-photo-groupe {
    display: flex;
    justify-content: center;
}

.legende-photo {
    display: flex;
    justify-content: center;
}

.legende-photo p {
    color: #c7D6D5;
    text-align: center;
    margin-bottom: 10px;
}

                                        /* -- FOOTER -- */



footer p {
    margin: 0;
    font-size: 14px;
    color: #ECEBF3;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 35px;
    height: 35px;
    margin: 10px 25px;
}

.social .logogroupe-footer {
    width: 55px;
    height: 55px;
    margin: 10px 25px;
}

.signatures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #C20114;
    padding: 10px;
}

.signature-bb h6 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 17px;
    margin-left: 3px;
    color: violet;
}

.signature-bb .BB {
    display: inline-block;
    color: rgb(197, 7, 249);
    transform: rotateY(180deg);
}
